.blue {
	--background: #f4f7fa;

	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';

	--navbar-background: #3498db;
	--navbar-text-color: #ffffff;
	--navbar-shadow: 0 0.5rem 1rem rgba(52, 152, 219, 0.5);

	--heading-font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
		sans-serif;
	--heading-font-size: 32px;
	--heading-color: #333;

	--link-color: #2980b9;

	--total-color: transparent;

	--last-update-color: #777777;

	--table-background: #ffffff;
	--table-border-color: #bdc3c7;
	--table-header-primary-color: #2c3e50;
	--table-header-secondary-color: #34495e;
	--table-header-data-color: #ffffff;
	--table-cell-padding: 2px 8px;
	--table-font-family: 'Poppins', sans-serif;
	--table-cell-max-height: 18px;
	--table-cell-height: 18px;
	--table-cell-text-align: center;

	--all-contribution-info-color: transparent;

	--footer-link-color: #2980b9;
}
