<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Administration</title>
</head>
<body>
    <h1>Administration Panel</h1>
  <div class="container">
    <div class="lds-ellipsis loading hide"><div></div><div></div><div></div><div></div></div>
    <div class="config-panel">
      <div class="contributors">
        <h3>Contributors Management</h3>
        <div class="add-panel">
            <span style="color:#333333; font-weight: 600;">Add contributor by: </span>
            <input type="text" class="add-contributor" placeholder="GitHub username"/>
            <div class="button add-contributor-button button">Add</div>
        </div>
        <table class="contributors-list">
            <tr>
                <td class="total" style="font-weight: bold; padding: 32px 8px 8px 8px; color: #333;"></td>
                <td colspan="1" style="font-weight: bold; padding: 32px 8px 8px 8px; color: #333;">
                  Username
                </td>
                <td colspan="1" style="font-weight: bold; padding: 32px 8px 8px 8px; color: #333;">
                    Operation
                  </td>
              </tr>
        </table>
    </div>
  </div>
</body>
</html>