<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>GSoC Contribution Leaderboard</title>
	<link rel="stylesheet" href="/public/style/bootstrap.css">
	<link rel="stylesheet" href="/public/style/noty.css">
	<link href="/public/style/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="/public/icons/favicon.ico">
</head>
<body>
	<%- body %>
</body>
</html>