body {
    align-items: center;
    background: url('/assets/images/loginBg.jpg');
    background-attachment: fixed;
}

h1 {
    color: #ffffff;
    text-align: left;
    margin-left: 20px;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #333333;
    text-align: left;
}

.button {
  display: inline-block;
  background: #fff;
  color: #606266!important;
  border: .5px solid #dcdfe6;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  color:#409eff!important;
  border-color: #c6e2ff;
  background: #ecf5ff;
}

.colored-button {
  display: inline-block;
  background:#48c5f1;
  color:#fff!important;
  border: .5px solid #dcdfe6;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
.colored-button:hover {
  color:#409eff!important;
  border-color: #c6e2ff;
  background: #ecf5ff;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
    padding-top: 50px;
}

.container .form {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    padding: 0 180px;
}

input[type="password"] {
    font-family: caption;
    padding: 2px 10px;
    margin-left: 20px;
}

input[type="password"]:focus {
    box-shadow: 0 0 3px 2px rgba(215, 244, 252, 0.637);
}

.submit {
    background: #26aafe;
    border: 1px solid #40a0ff4f;
    cursor: pointer;
    color: #ffffff;
    -webkit-appearance: none;
    outline: none;
    margin: 0 10px;
    padding: 0 20px;
    border-radius: 25px;
    transition: .2s;
    line-height: 28px;
    height: 32px;
    white-space: nowrap;
}

.submit:hover {
    box-shadow: 0 0 3px 1px rgba(22, 59, 78, 0.2);
}

input {
    border-radius: 3px;
    border: none;
    outline: none;
    line-height: 28px;
}

.hide {
    display: none!important;
}

.config-panel {
    border-radius: 3px;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0.5px 0.5px 5px 0 rgb(150, 150, 200);
    margin-bottom: 100px;
}

.inclusion-exclusion {
  border-radius: 3px;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0.5px 0.5px 5px 0 rgb(150, 150, 200);
  margin-bottom: 100px;
}

table {
  border-spacing: 0;
}

td a {
  color: #007bff!important;
  font-weight: normal;
  text-decoration: none;
}

table td {
  border-top: 1px solid #EDEFF2;
  padding: 2px 50px;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 18px;
  height: 18px!important;
  margin: 0;
}

table tr:hover {
  background: rgba(234, 241, 251, .4); 
}

.add-contributor, .set-interval, .set-start-date {
  border: 1px solid #dcdfe6;
  padding: 0 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.set-start-date {
  width: 133px;
}

.set-interval {
  width: 20px;
}

.add-contributor:focus, .set-interval:focus, .set-start-date:focus {
  border-color: #409eff;
}

.add-contributor-button, .set-interval-button, .set-start-date-button .repo-select-button {
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 15px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

  .layui-layer.layui-layer-dialog {
    width: 440px!important;
  }

.loading {
  position: fixed;
  top: 20px;
  left: 48%;
}